.container{
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}
div {
    background-color: rgb(39, 18, 18);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100vm;
    height: 100vm;
}
   
  
img{
    
    display:flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 300px;

}
button{ 
    display: flex;
    justify-content: center;
    background-color: rgb(199, 140, 196);
    border-radius: 5px;
    cursor: pointer;
    padding: 3px ;
     
}